body {
  font-weight: 300;
  font-size: 26px;
  font-family: Avenir, Sans-Serif;
  margin: 0;
  width: 100vw;
  background-color: #f5f6fa;
  text-align: center;
}

.card-container {
  margin-top: 25px;
}

.title {
  font-size: 25px;
  letter-spacing: 4px;
  color: #73AD21;
}

a.link {
  display: block;
  margin: 45px;
  padding: 25px 0px 10px 0px;
  border: 2px solid #73AD21;

}

.vertical-align {
  vertical-align: middle;
}

.link-style {
  color: rgb(33, 33, 33);
  text-decoration: none;
}

.link-style:hover {
	color: #2C63ae;
}

.search {
  font-family: "Operator Mono SSm A", "Operator Mono SSm B", 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
  font-size: 20px;
	font-weight: 300;
  display: block;
  margin: auto;
  width: 60%;
  border: 2px solid #73AD21;
  padding: 10px;
  border-radius: 0px;
}

.tags {
  color: #f5f6fa;
  font-size: 1px;
}

.footer-span {
  text-align: center;
  font-size: 12px;
}
