body {
  font-weight: 300;
  font-size: 26px;
  font-family: Avenir, Sans-Serif;
  margin: 0;
  width: 100vw;
  /* background-color: rgb(33, 33, 33); */
  background-color: #f5f6fa;
  text-align: center;
}

a.link {
  display: block;
  margin: 60px;
  padding: 25px;
  background-color: #568FCB;
}

.vertical-align {
  vertical-align: middle;
}

.link-style {
  color: rgb(33, 33, 33);
  text-decoration: none;
}

.link-style:hover {
	color: #2C63ae;
}
